html, body {
    margin: 0;
    padding: 0;
  }
  
  .just-background-container {
    height: 100%;
  }
  
  .main-container {
    display: inline-block;
    margin: 0 auto;
    padding-left: 37rem;
    padding-top: 2rem;
  }
  /*main bcground*/
  .bgr-gradient-1 {
    background: linear-gradient(135deg,
      rgb(245,244,87) 0%,rgb(255,173,237) 50%,rgb(61,219,244) 100%);
}

  /*circles*/
  .bgr-image-2 {
    background-image: url("./Change Half Circle Strokes.png");
    background-size: 41rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 29rem;
    top: 11rem;
    }
  /*my designed img*/
  .bgr-image-1 {
    background-image: url("./bcground21.png");
    background-size: auto;
    background-repeat: no-repeat;
  }
  /*HELLO, KATIA! LIFE IS A BIG TO-DO LIST*/
  .list-title {
    font-size: 1.2rem;
    font-family: "Arial Rounded MT Bold";
    color: rgb(61, 29, 200);
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  /*Form for input*/
  /*add button +*/
  .list-btn-add  {
    border-radius: 0.7rem;
    border: 1px solid rgb(0, 0, 0, 0);
    background-color: rgb(255, 181, 222);
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: "Verdana";

    width: 2.5rem;
    text-align: center;
    margin-left: 1rem;
    border-radius: 0.7rem;
  }

 .list-btn-add :hover {
    border-radius: 0.7rem;
    border: 1px solid rgb(0, 0, 0, 0);
    background-color:rgb(246, 243, 115);
   }
    /*add button prioraty*/
 .list-input-priority  {
    background-color: rgb(246, 243, 115);
    width: 2.5rem;
    text-align: end;
    margin-left: 1rem;
    border-radius: 0.7rem;
   }

  /*Input form bg*/
  .todo-input {
    border-radius: 0.7rem;
    border: 1px solid rgb(0, 0, 0, 0);
    display: flex;
    padding: 1.2rem;
    background-color: rgb(101, 44, 202);
    border-radius: 1.3rem;
    border: 1px solid rgb(0, 0, 0, 0);
  }
  /*Input string*/
  .list-input-field {
    border-radius: 0.7rem;
    font-family: "Verdana";
    height: 2.2rem;
    max-width: 15rem;
    width: 100%;
  }
  /*priority line*/
  .list-input-priority {
    width: 2.5rem;
    text-align: end;
    margin-left: 1rem;
  }
  
  .priority-legend {
    font-family: "Verdana";
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .priority-legend-text {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(61, 29, 200);
  }
  
  .priority-gradient-line {
    width: 100%;
    height: 1rem;
    background: linear-gradient(135deg,
     rgb(253,213,62) 0%,rgb(255,22,132) 100%); 
    margin-left: 1rem;
    border-radius: 0.5rem;
  }
  /*TO-DO LIST FOR TODAY:*/
  .list-section h1 {
    font-size: 1.2rem;
    font-family: "Arial Rounded MT Bold";
    color: rgb(61, 29, 200); 
    text-transform: uppercase;
    text-align: center;
  }

  
/*font of list's tasks*/
h3 {
    font-size: 0.7rem;
    padding: 5px;
    font-family: "Verdana";
    color: rgb(61, 29, 200);
    line-height: 1.2;
    text-align: left;
    
}

 ul li {
    cursor: pointer;
    border-radius: 25px;
    list-style-type: none;
    background: rgb(255, 178, 231);
    font-size: 0.7rem;
    padding: 5px;
    font-family: "Verdana";
    color: rgb(61, 29, 200);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
        
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
ul li:hover {
    background: rgb(163, 231, 247);
  }
  
ul li.checked {
    background: rgb(111, 217, 241);
    color: #fff;
    text-decoration: line-through;
  }
  
/*delete tasks, which were made*/
.close {
    border-radius: 25px;
    margin: 0;
    padding: 0.1rem;
        
    background-color: rgb(255, 181, 222);
    width: 2.12rem;
    height: 2.12rem;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 2rem;
    }
  
.close:hover {
    background-color: rgb(111, 217, 241);
    color: white;
  }
  

/*checked taskes*/
ul li.checked {
    background: rgb(111, 217, 241);
    color: #fff;
    text-decoration: line-through;
    }
  
ul li.checked::before {
    content: '';
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);

    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.5rem;
    text-align: left;
    line-height: 0.2rem;
    }
    
  
  /*List of tasks*/
  /*.todo-list-container {
    padding-left: 0;
  }
  
  .todo-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: rgb(61, 29, 200);
    line-height: 1.2;
    text-align: left;
    
  }
  
  .todo-task p {
    border-radius: 25px;
    list-style-type: none;
    background: rgb(255, 178, 231);
    font-size: 0.7rem;
    padding: 5px;
    font-family: "Verdana";
    color: rgb(61, 29, 200);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    }
    
  .todo-task .task-remove-btn {
    border-radius: 25px;
    background-color: rgb(255, 181, 222);
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    font-size: 0.7rem;

    font-family: "Verdana";
    color: rgb(61, 29, 200);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
   
  .todo-task .task-remove-btn:hover {
    background-color: rgb(111, 217, 241);
    color: white;
  }
   
  .todo-task .task-priority {
      width: 2.12rem;
      height: 2.12rem;
      margin-left: 0.5rem;
      text-align: center;
      line-height: 2rem;
    }

  /*for priority colors*/
  .priority-level-0 {
    background-color: rgb(255, 255, 255);
  }

  .priority-level-1 {
    background-color: rgb(250, 239, 91);
  }

  .priority-level-2 {
    background-color: rgb(250, 221, 91);
  }

  .priority-level-0 {
    background-color: rgb(255, 255, 255);
  }
  
  .priority-level-1 {
    background-color: rgb(250, 239, 91);
  }
  
  .priority-level-2 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-3 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-4 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-5 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-6 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-7 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-8 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-9 {
    background-color: rgb(250, 221, 91);
  }
  
  .priority-level-10 {
    background-color: rgb(250, 221, 91);
  }